html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
}

.header {
	background-color: #00fff0;
	padding: 100px 0;
	vertical-align: middle;
	display: block;
}

.almost {
	background-color: #13c7bc;
	padding: 100px 0;
}

.footer {
	background-color: #222222;
	padding: 31.5px;
	vertical-align: middle;
	color: #fff
	font
}

.lead {
	margin-top: 3px;
	font-size: 1.2em;
	vertical-align: middle;
	color: #fff;
}

@media (min-width: 1px) {
	.van {
		display: none;
		margin: 0 auto;
	}
}


@media (min-width: 780px) {
	.van {
		display: block; 
		margin: 0 auto;
	}
}

@media (min-width: 320px) {
	.col-lg.5 {
		font-size: 1.2em;
	}
}

.your {
	font-weight: 900;
	font-size: 4em;
	margin-top: -5px;
	color: #fff;
	text-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
}
.ready {
	font-weight: 900;
	font-size: 2.8em;
	color: #fff;
	text-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
}
.glphy-1 {
	color: #fff;
	text-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
}
.text-center {
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
}

/* iFrame */
@media (min-width: 100px) {
  iframe {
    margin-left: -30px;
    text-align: center;
    width: 200px;
  }
}
@media (min-width: 400px) {
  iframe {
    margin-left: -30px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  iframe {
    width: 100%;
  }
}
/* iFrame */
.btn-primary {
	border-radius: 0px;
}
.btn-insta {
	border-radius: 0px;
	background-color: #f1f1f1;
	color: #222222;
	margin-left: 20px;
}

.btn-insta:focus,
.btn-insta:hover,
.btn-insta:active {
	border-radius: 0px;
	background-color: #ffffff;
	color: #ff3300;
}