/* Coded by Jack Earsman */
/*
/* Website: http://jackearsman.com */
/*
/* Copyright 2016 JackEarsman.com */

/* Main Body */
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* Main Body */

/* Navbar Styles */
.navbar-default {
    padding: 20px;
    background-color: #222;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
    padding-right: 20px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.dropdown-menu > li > a {
    display: block;
    padding: 20px;
    clear: both;
    border-radius: 0px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 14px;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
    font-weight: 300;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a {
    background-color: transparent;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #00dccd;
}

.navbar-fixed-top {
    padding-left: 20px;
    background-color: #222;
    border: none;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: rgba(255,255,255,0.175);
    border-width: 0px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.navbar-toggle .icon-bar {
    display: block;
    margin-top: -3px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar-1 {
    background-color: #fff;
}

.navbar-toggle .icon-bar-1 {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 18px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar-2 {
    background-color: #fff;
}

.navbar-toggle .icon-bar-2 {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar-3 {
    background-color: #fff;
}

.navbar-toggle .icon-bar-3 {
    display: block;
    margin-top: 3px;
    width: 14px;
    height: 2px;
    border-radius: 1px;
}

@media(min-width:767px) {
    .navbar {
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 20px;
    }
}
/* Navbar Styles */

/* Typography */
.text-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* Typography */

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-text {
    font-weight: 300;
    letter-spacing: 20px;
    color: #ffffff;
}

@media screen and (min-width: 300px) {
    .header-text {
        font-size: 22px;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 350px) {
    .header-text {
        font-size: 25px;
    }
}

@media screen and (min-width: 400px) {
    .header-text {
        font-size: 25px;
        letter-spacing: 8px;
    }
}

@media screen and (min-width: 450px) {
    .header-text {
        font-size: 25px;
        letter-spacing: 12px;
    }
}

@media screen and (min-width: 600px) {
    .header-text {
        font-size: 30px;
        letter-spacing: 15px; 
    }
}

@media (min-width: 767px) {
    .header-text {
        font-size: 36px;
        letter-spacing: 20px;
    }
}

.short-notice {
    font-weight: 300;
    letter-spacing: 3px;
    color: #fff;
    margin-top: -3px;
}

@media screen and (min-width: 300px) {
    .short-notice {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 350px) {
    .short-notice {
        font-size: 15px;
    }
}

@media screen and (min-width: 450px) {
    .short-notice {
        font-size: 18px;
    }
}

@media screen and (min-width: 500px) {
    .short-notice {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    .short-notice {
        font-size: 20px;
    }
}

@media screen and (min-width: 767px) {
    .short-notice {
        font-weight: 300;
        letter-spacing: 3px;
        color: #fff;
        font-size: 24px;
        margin-top: -3px;
    }
}
/* Header */

/* Testemonials */
.testimonials-text {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    color: #222;
}

@media screen and (min-width: 300px) {
    .testimonials-text {
        font-size: 25px;
    }
}

@media screen and (min-width: 400px) {
    .testimonials-text {
        font-size: 25px;
    }
}

@media screen and (min-width: 500px) {
    .testimonials-text {
        font-size: 30px;
    }
}

@media screen and (min-width: 767px) {
    .testimonials-text {
        font-size: 30px;
    }
}
/* Testimonials */

/* Buttons */
.btn-more {
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
    font-weight: 700;
    margin-right: 5px;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn-more:hover,
.btn-more:focus,
.btn-more:active {
    color: #fff;
    margin-right: 5px;
    background-color: rgba(0,0,0,0.8);
}

.btn-address {
    padding: 20px 30px;
    width: 100%;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 3px;
    font-weight: 700;
    margin-right: 5px;
    color: #fff;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn-address:hover,
.btn-address:focus,
.btn-address:active {
    color: #fff;
    margin-right: 5px;
    background-color: rgba(0,0,0,0.8);
}

.btn-contact {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    margin-left: 5px;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active {
    color: #222;
    margin-left: 5px;
    background-color: rgba(255,255,255,0.8);
}
/* Buttons */



/* Testimonials */
.testimonials {
    display: table;
    position: relative;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #fff;
    font-weight: 400;
}

.text {
    width: 80%;
    margin: 0 auto;
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #222;
  height:12px;
  width:12px;
  margin-bottom:1px;
}
/* Testimonials */

/* Links */
.links {
    display: table;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #222;
    color: #fff;
}

.links-header {
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
}

/* Links */

/* Column */
.col-xs-1, 
.col-sm-1, 
.col-md-1, 
.col-lg-1, 
.col-xs-2, 
.col-sm-2, 
.col-md-2, 
.col-lg-2, 
.col-xs-3, 
.col-sm-3, 
.col-md-3, 
.col-lg-3, 
.col-xs-4, 
.col-sm-4, 
.col-md-4, 
.col-lg-4, 
.col-xs-5, 
.col-sm-5, 
.col-md-5, 
.col-lg-5, 
.col-xs-6, 
.col-sm-6, 
.col-md-6, 
.col-lg-6, 
.col-xs-7, 
.col-sm-7, 
.col-md-7, 
.col-lg-7, 
.col-xs-8, 
.col-sm-8, 
.col-md-8, 
.col-lg-8, 
.col-xs-9, 
.col-sm-9, 
.col-md-9, 
.col-lg-9, 
.col-xs-10,
.col-sm-10, 
.col-md-10, 
.col-lg-10,
.col-xs-11, 
.col-sm-11, 
.col-md-11, 
.col-lg-11, 
.col-xs-12, 
.col-sm-12, 
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}
/* Column */

/* Modal Styles */
.modal {
    color: #fff;
}

.modal-content {
    position: relative;
    background-color: #222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

#modalTitle {
    letter-spacing: 3px;
    font-weight: 700;
}

.modal-header {
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    background-color: #fff;
    color: #222;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    color: #222;
    text-shadow: 0 0px 0 transparent;
    filter: alpha(opacity=20);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    opacity: 1;
}

.close:hover,
.close:focus,
.close:active {
    color: #222;
}
/* Modal Styles */

/* Address Modal */
.modal-content-text {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}

.modal-content-text:hover,
.modal-content-text:focus,
.modal-content-text:active {
    color: #00dccd;
    text-decoration: none;
    font-weight: 400;
}
/* Address Modal */