/* Pr3stigeTinting Website */
/*
/* By Jack Earsman */
/*
/* http://jackearsman.com */

/* Main */
html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #222;
}
/* Main */

/* Contact Nav */
.contact {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 10px;
	text-align: center;
	color: #fff;
	background-color: #111;
}
/* Contact Nav */

/* Nav */
.navbar-default {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
	border: none;
	background-color: #222;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: #fff;
	margin-right: 10px;
	font-weight: 300;
	transition: all 0.5s ease;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-toggle {
    border: none;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        margin-top: 10px;
        color: #444;
        transition: all 0.5s ease;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
        transition: all 0.5s ease;
    }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
	color: #555;
	margin-right: 10px;
	font-weight: 300;
	transition: all 0.5s ease;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #222;
}

.navbar-default .navbar-nav > li > a {
 	transition: all 0.5s ease;
    color: #444;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
.navbar-default .navbar-nav > li > a:active {
	color: #fff;
	transition: all 0.5s ease;
}


@media screen and (min-width: 250px) {
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
    	color: #fff;
    	background-color: transparent;
	}
}

@media screen and (min-width: 768px) {
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
    	color: #fff;
    	background-color: transparent;
	}
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: transparent;
    background: transparent;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu > li > a {
    display: block;
    padding: 20px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
	color: #fff;
	background-color: #111;
	transition: all 0.5s ease;
}

.dropdown-menu {
    position: absolute;
    transition: all 0.5s ease;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* Nav */

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 88%;
    background: url(../img/header.png);
    background-image-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-left {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.header-h1 {
	color: #fff;
	font-style: italic;
}

.header-h3 {
	margin-top: -10px;
	color: #fff;
	font-weight: 100;
}

.btn-contact {
    padding: 20px 20px;
    width: 100%;
    border-radius: 0px;
    color: #fff;
    background-color: #222;
    transition: all 0.5s ease;
}

.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active {
    padding: 20px 20px;
    width: 100%;
    border-radius: 0px;
    color: #fff;
    transition: all 0.5s ease;
    background-color: #111;
}
/* Header */

/* Services */

/* Services */
.about {
    position: relative;
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    color: #222;
    font-weight: 400;
}

section {
    clear: both;
    float: none;
    position: relative;
}

.who [class^=col-] {
    padding: 30px 60px;
}

.background {
    background: #fff;
    color: #222;
    position: relative;
}

.background-1 {
    background: #fff;
    color: #222;
    position: relative;
}

.who-vertical-middle {
    padding-top: 75px;
}

.image-1 {
    display: block;
    min-height: 420px;
    background-size: cover; 
    background-image: url(https://images.unsplash.com/photo-1454264856604-ca40bd3a0a7a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b945921b8dfd3c77ccd72f02a7e122a4);
}

@media (min-width: 250px) {
    .image-1 {
        display: none;
    }
}

@media (min-width: 992px) {
    .image-1 {
        display: none;
    }
}

@media (min-width: 992.1px) {
    .image-1 {
        display: table;
        position: relative;
    }
}

@media (min-width: 250px) {
    .image-2 {
        display: none;
    }
}

@media (min-width: 992px) {
    .image-2 {
        display: none;
    }
}

@media (min-width: 992.1px) {
    .image-2 {
        display: table;
        position: relative;
    }
}

@media (min-width: 990px) {
    .lead {
        font-size: 17px;
    }
}

@media (min-width: 1070px) {
    .lead {
        font-size: 18.5px;
    }
}

/* Services */